.Creator{
    width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
}
.Creator-side{
    background: #fff;
    border-radius: 3px;
    min-width: 170px;
    padding: 20px 12px;
    margin-right: 10px;
    color: #444444;
    box-sizing: border-box;
}
.CreatorSide-item{
    padding-bottom: 16px;
}
.CreatorSide-itemTitle{
    display: flex;
    align-items: center;
    height: 38px;
}
.CreatorSide-Icon{
    margin-left: 4px;
    margin-right: 8px;
    color: rgba(133,144,166,0.6);
}
.CreatorSide-itemText{
    font-size: 14px;
    font-weight: 600;
    color: #1A1A1A;
}
.CreatorSide-Lick{
    padding-left: 30px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.CreatorSide-Lick:hover{
    background: #F6F6F6;
}
.CreatorSide-Lick.is-active{
    background: #0084ff14;
    color: #0084ff;
    font-weight: 600;
}

.CreatorHome{
    width: 820px;
}
.CreatorHomeGeneralCard{
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
}
.CreatorHomeLevelInfo{
    display: flex;
    height: 155px;
    align-items: center;
}
.CreatorHomeLevelInfo-LevelImage{
    height: 112px;
    width: 140px;
    margin-right: 12px;
}
.CreatorHomeLevelInfo-LevelTitle{
    display: flex;
    color: #0084ff;
    font-weight: 700;
    align-items: center;
}
.CreatorHomeLevelInfo-levelTitleHint{
    color: #8590a6;
    font-weight: 400;
    font-size: 12px;
    margin-left: 15px;
}
.CreatorHomeLevelBar-Box{
    padding: 14px 0;
    margin-bottom: 16px;
}
.CreatorHomeLevelBar{
    position: relative;
    height: 6px;
    width: 600px;
}
.CreatorHomeLevelBar-background{
    background: rgba(0,132,255,.08);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 1px;
    left: 0;
}
.CreatorHomeLevelBar-progressContainer{
    box-sizing: border-box;
    width: 100%;
    height: 6px;
    left: 0;
    position: absolute;
    top: 0;
    right: 30px;
}
.CreatorHomeLevelBar-progress{
    overflow: hidden;
    background: #0084ff;
    border-radius: 3px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    transition: all .3s;
}
.CreatorHomeLevelBar-progressEnd{
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    background: linear-gradient(90deg,#0084ff,#00e5ff);
}
.CreatorHomeLevelBar-progressEndPopover{
    position: absolute;
    right: 0;
    top: 0;
    height: 6px;
    width: 12px;
}
.CreatorHomeLevelBar-progressEndPopoverToggler{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.CreatorHomeLevelBar-percentInfoWrapper{
    position: absolute;
    top: 7px;
    width: 36px;
}
.CreatorHomeLevelBar-percentInfoWrapper--arrow{
    position: absolute;
    width: 36px;
    height: 3px;
    overflow: hidden;
}
.CreatorHomeLevelBar-percentInfoWrapper--arrow:after{
    position: absolute;
    content: "";
    background: #0084ff;
    width: 6px;
    height: 6px;
    transform: translate(14px,2px)rotate(45deg);
}
.CreatorHomeLevelBar-percentInfoWrapper--info{
    background: #0084ff;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    margin-top: 3px;
}

.CreatorHomeLevelBar-endpoint{
    background: #fff;
    border: 3px solid rgba(0,132,255,.08);
    box-sizing: border-box;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    top: -4px;
    right: 14px;
}
.CreatorHomeLevelBar-endpointLevel{
    position: absolute;
    right: -8px;
    bottom: 23px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 600;
    color: #0084ff;
    width: 32px;
}
.GrowthGuide{
    position: relative;
}
.GrowthGuide-info{
    color: #8590a6;
    font-size: 12px;
    position: absolute;
    right: 50px;
    bottom: 53px;
}
.GrowthGuide-info-text{
    font-weight: 600;
}
.GrowthGuide-info-percent{
    color: #0084ff;
    font-weight: 600;
    margin-left: 1px;
}

.CreatorHomeLevelInfo-rights{
    display: flex;
    align-items: center;
}
.CreatorHomeLevelInfo-rightsHint{
    font-size: 14px;
    line-height: 20px;
    margin-right: 2px;
}
.CreatorHomeLevelInfo-RinghtsIconContainer{
    display: flex;
    align-items: center;
}
.CreatorHomeLevelInfo-RinghtsIconLick{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    /*width: 36px;*/
    padding: 0 6px;
    background: rgba(0,132,255,.08);
    color: #0084ff;
    border-radius: 6px;
    margin-left: 8px;
}
.CreatorHomeLevelInfo-RinghtsIconLick.CreatorHomeLevelInfo-AddRinghts{
    color: #8590a6;
    background: rgba(133,144,166,.08);
}
.CreatorHomeLevelInfo-AddRinghtsHint{
    color: #1A1A1A;
    font-size: 14px;
    padding-left: 6px;
    margin-right: 2px;
}

.CreatorHomeGeneralCard-statisticsArea{
    border-top: 1px solid #ededed;
    display: flex;
    padding: 20px 0;
}
.CreatorHomeGeneralCard-statisticsDeltaCount{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.CreatorHomeGeneralCard-statisticsDeltaCount>div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.CreatorHomeDeltaCount-compareTitle{
    color: #999;
    display: flex;
    align-items: center;
}
.CreatorHomeDeltaCount-compareTitleTip{
    margin-left: 4px;
    color: #bfbfbf;
}
.CreatorHomeDeltaCount-compare{
    margin: 6px 0;
    font-size: 26px;
    font-weight: 500;
    color: #1A1A1A;
}
.CreatorHomeDeltaCount-origin{
    display: flex;
    color: #999;
    font-size: 12px;
}
.CreatorHomeDeltaCount-originNumber{
    margin-left: 4px;
}
.CreatorHomeDeltaCount-originNumber--up{
    color: #0084ff;
}
.CreatorHomeGeneralCard-analyticsButton,.CreatorHomeRecommendQuestion-analyticsButton{
    display: flex;
    align-items: center;
    color: #0084ff;
    height: 34px;
    font-size: 14px;
    align-self: center;
}


.CreatorHomeAnalyticsData{
    padding: 24px 24px 20px;
    display: flex;
    flex-direction: column;
}
.CreatorHomeAnalyticsData-title{
    font-size: 18px;
    font-weight: 600;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.CreatorHomeAnalyticsData-titleHint{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-left: 12px;
}

.CreatorHomeAnalyticsDataItem{
    display: flex;
    align-items: center;
    height: 80px;

}
.CreatorHomeAnalyticsDataItem+.CreatorHomeAnalyticsDataItem{
    border-top: 1px solid #ebebeb;
}
.CreatorHomeAnalyticsDataItem-type{
    background: #F6F6F6;
    font-size: 12px;
    color: #1A1A1A;
    width: 48px;
    height: 22px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.CreatorHomeAnalyticsDataItem-text{
    margin-right: 32px;
    width: 272px;
}
.CreatorHomeAnalyticsDataItem-title, .CreatorHomeAnalyticsDataItem-content{
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.CreatorHomeAnalyticsDataItem-title{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2px;
    max-height: 22px;
    -webkit-line-clamp: 1;
}
.CreatorHomeAnalyticsDataItem-content{
    font-size: 14px;
    line-height: 20px;
    max-height: 20px;
}
.CreatorHomeAnalyticsDataItem-column{
    margin-right: 16px;
    flex-shrink: 0;
}
.CreatorHomeAnalyticsDataItem-columnTitle{
    color: #999;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 2px;
}
.CreatorHomeAnalyticsDataItem-columnNumder{
    color: #1A1A1A;
    font-size: 14px;
    line-height: 16px;
}
.CreatorHomeAnalyticsDataItem-hint{
    color: #175199;
    font-size: 14px;
    margin-left: 8px;
}
.CreatorHomeAnalyticsData-analyticsButton{
    color: #0084ff;
    height: 34px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    align-self: center;
}

.CreatorHomeRecommendQuestion{
    padding: 24px 24px 20px;
    display: flex;
    flex-direction: column;
}
.CreatorHomeRecommendQuestion-title{
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}






.CreatorHomeUpgradeGuide{
    padding: 24px 24px 20px;
}
.CreatorHomeUpgradeGuide-title{
    font-size: 18px;
    font-weight: 600;
    color: #1A1A1A;
    margin-bottom: 20px;
}
.CreatorHomeUpgradeGuide-guideList{
    display: flex;
}
.CreatorHomeUpgradeGuide-guide{
    display: flex;
    align-items: center;
}
.CreatorHomeUpgradeGuide-guide+.CreatorHomeUpgradeGuide-guide{
    margin-left: 24px;
}
.CreatorHomeUpgradeGuide-guide img{
    width: 58px;
    margin-right: 10px;
    object-fit: cover;
}
.CreatorHomeUpgradeGuide-guideText{
    line-height: 21px;
}

