.Footer{
    font-size: 13px;
    color: #8590a6;
    line-height: 2;
    padding-left: 5px;
}
.Footer-Item{
     display: inline-flex;
     -webkit-box-align: center;
     align-items: center;
}
a.Footer-Item:hover{
    color: #175199;
}
.Footer-dot:after{
    content: "\B7";
}