/*总*/


/*main*/
.Topstory-container{
    width: 1000px;
    margin: 10px auto;
    padding: 0 16px;
    display: flex;
}
.Topstory-main{
    width: 694px;
    margin-right: 10px;
    margin-bottom: 0;
}
.Topstory-mainCard-head{
    display: flex;
    height: 58px;
    border-bottom: 1px solid #f0f2f7;
}
.Topstory-mainCard-head ul{
    display: flex;
}
.Topstory-mainCard-head ul li a{
    display: inline-block;
    height: 58px;
    line-height: 58px;
    color: #1a1a1a;
    margin: 0 22px;
}
.TopstoryTabs-link.is-active{
    color: #0084ff;
    font-weight: 500;
}
.TopstoryItem{
    box-shadow: none;
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #f0f2f7;
}

.ContentItem-title{
    font-size: 18px;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}
.ContentItem-title a{
    color: #1a1a1a;
}
.ContentItem-title a:hover{
    color: #175199;
}
.ContentItem-content.is-collapsed{
    /*display: flex;*/
    margin-top: 20px;
    position: relative;
}
.ContentItem-content-cover{
    position: relative;
    width: 190px;
    height: 105px;
    overflow: hidden;
    border-radius: 4px;
    margin-top: -2px;
    margin-right: 18px;
    margin-bottom: 4px;
}
.ContentItem-content-cover-inner{
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translateY(-50%);
}
.ContentItem-content-cover-inner img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate3d(-50%,-50%,0);
    object-fit: cover;
}
.ContentItem-content-cover+.ContentItem-content-inner{
    max-width: 446px;
    position: absolute;
    top: 0;
    left: 31%;
}
.ContentItem-content-inner{
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}
.ContentItem-content-inner:hover{
    color: #646464;
}
.ContentItem-content-inner .text{
    height: 75px;
    display: flex;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.text{
    line-height: 1.6;
}
.ContentItem-more{
    margin-left: 4px;
    color: #175199;
    display: flex;
    align-items: center;
}
.ContentItem-actions{
    padding: 10px 20px;
    margin: 0 -20px -10px;
    display: flex;
}
.ContentItem-actions.is-Fixed{
    background: #fff;
    buttom: 0px;
    width: 694px;
    box-sizing: border-box;
    box-shadow: 0 -1px 3px rgba(26,26,26,.1);
    bottom: 10px;
    animation: slideInUp .2s;
    transition: all .2s;
    z-index: 1;
}
.ContentItem-actions>*{
    margin-left: 24px;
    font-size: 14px;
}
.ContentItem-actions>span{
    margin-left: 0;
    font-size: 16px;
}
.Button--plain{
    margin-left: auto;
}
.ContentItem-action{
    line-height: 30px;
}
.ContentItem-arrowIcon.is-active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.VoteButton{
    color: #0084ff;
    background: rgba(0,132,255,.1);
    padding: 0 12px;
    line-height: 30px;
}
.VoteButton:hover{
    color: #0084ff;
    background: rgba(0,132,255,.15);
}
.VoteButton.is-active{
    color: #fff;
    background: #0084ff;
}
.VoteButton-TriangleUp{
    margin-right: 5px;
}



/*人物*/
.FeedSource-firstline{
    color: #8590a6;
    margin-bottom: 6px;
    height: 24px;
    margin-top: -4px;
}
.FeedSource-byline{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.userLink-link img{
    height: 24px;
    width: 24px;
    border-radius: 2px;
}
.AuthorInfo-content{
    display: flex;
    margin-left: 10px;
}
.AuthorInfo-head{
    display: flex;
}
.AuthorInfo-name{
    display: flex;
    color: #444;
    font-weight: 600;
}
.AuthorInfo-name>a{
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.AuthorInfo-badge{
    font-size: 14px;
    margin-top: 2px;
}
.AuthorInfo-badgeText{
    color: #646464;
}
.AuthorInfo-badgeText::before{
    content: "\FF0C";
}

/*热榜*/
/*Nav(头*/
.HotListNav-box{
    position: relative;
}
.HotListNav{
    display: flex;
    padding: 16px 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
}
.HotListNav-items{
    display: flex;
}
.HotListNav-item{
    margin: 0 4px;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    background: #f6f6f6;
    color: #646464;
}
.HotListNav-item.is-active{
    font-weight: 500;
    color: #0084ff;
    background: rgba(0,132,255,.1);
}
.HotListNav>button,.HotListNavEditBox-titleBox>button{
    border-radius: 26px;
    border: 1px solid #8590a6;
    color: #8590a6;
    width: 48px;
    height: 26px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HotListNavEditBox{
    padding: 18px 20px 22px;
    border: 1px solid #ebebeb;
    border-top: 0;
    position: absolute;
    z-index: 1;
    background: #fff;
}
.HotListNavEditBox-titleBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;
}
.HotListNavEditBox-title{
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
    color: #444;
}
.HotListNavEditBox-titleHint{
    color: #999;
}
.HotListNavEditBox-elements{
    margin-bottom: 20px;
}
.HotListNavEditBox-elements .HotListNav-item{
    margin-top: 5px!important;
    margin-bottom: 10px!important;
    display: inline-block;
}
.HotListNavEditBox-gridList .HotListNav-item.is-active{
    color: #0084ff;
    background: #F6F6F6;
}

.HotListNavEditBox-buttons{
    display: flex;
    justify-content: flex-end;
}
.HotListNavEditBox-buttons>button{
    width: 72px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid;
    color: #8590a6;
    border-radius: 3px;
}
.HotListNavEditBox-buttons>.button.is-active{
    color: #fff;
    background: #0084ff;
    margin-left: 16px;
    border: #0084ff;
}

/*Hotitem(热榜*/
.HotItem{
    display: flex;
    padding: 16px 16px 16px 0;
    position: relative;
}
.HotItem:not(:first-child){
    border-top: 1px solid #ebebeb;
}
.HotItem-index{
    width: 57px;
    text-align: center;
}
.HotItem-rank{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}
.HotItem-hot{
    color: #ff9607;
}
.HotItem-label{
    color: #fff;
    background: #ff9607;
    border-radius: 4px;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    width: 19px;
    margin: 0 auto;
}
.HotItem-content{
    flex: 1 1;
    overflow: hidden;
}
.HotItem-title{
    font-size: 18px;
    color: #1a1a1a;
    max-height: 56px;
    font-weight: 600;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.HotItem-text{
    color: #444;
    line-height: 25px;
    margin-top: 2px;
    min-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.HotItem-metrics{
    display: flex;
    color: #8590a6;
    align-items: center;
    font-size: 14px;
    margin-top: 8px;
    bottom: 16px;
    position: absolute;
}
.HotItem-action{
    margin-left: 28px;
}
.HotItem-metrics path{
    fill: #9fadc7;
}
.HotItem-img{
    margin-left: 16px;
}
.HotItem-img>img{
     border-radius: 4px;
     height: 105px;
     width: 190px;
     object-fit: cover;
 }


/*展开*/
.ConstantItem-meta{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.ContentItem-content{
    display: block;
}
.ConstantItem-voters{
    margin-top: 10px;
}
.ConstantItem-time{
    margin-top: 10px;
    font-size: 14px;
    color: #8590a6;
}



.ztext{
    line-height: 1.6;
    word-break: break-word;
}
.ztext-cover, .ztext-img{
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
.ztext-cover-content, .ztext-img-content{
    max-width: 100%;
}
.origin_image,.zh-lightbox-thumb{
    max-width: 100%;
}
.ztext blockquote{
    margin: 1.4em 0;
    padding-left: 1em;
    color: #646464;
    border-left: 3px solid #d3d3d3;
}
.ztext h1, .ztext h2{
    margin-top: 2.33333em;
    margin-bottom: 1.16667em;
    font-size: 1.2em;
    font-weight: 600;
}
.ztext p{
    margin: 1.4em 0;
}
.ztext p:last-child{
    margin-bottom: 0;
}
.ztext p:first-child{
    margin-top: 0;
}
.ztext b{
    font-weight: 600;
}
.ztext hr{
    margin: 4em auto;
    width: 240px;
    max-width: 100%;
    border: none;
    border-top: 1px solid #d3d3d3;
}
.ztext-img{
    margin: 1.4em 0;
}
.ztext ul, .ztext ol{
    margin: 1.4em 0;
    padding: 0;
}
.ztext ul{
    display: table;
}
.ztext ul>li{
    display: table-row;
    list-style: none;
}
.ztext ul>li:before{
    display: table-cell;
    content: "\2022 ";
    white-space: pre;
    padding-right: 7px;
}
.ztext ol>li{
    display: table-row;
    list-style: none;
}
.ztext ol>li:first-child{
    counter-reset: ol0;
}
.ztext ol>li:before{
    display: table-cell;
    white-space: pre;
    padding-right: 7px;
    content: counter(ol0) ". ";
    counter-increment: ol0;
}
.ztext figure+figure{
    margin-top: 2.24em;
}


.LinkCard{
    display: block;
    position: relative;
    margin: 1em auto;
    width: 390px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
}
.LinkCard-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    background-size: cover;
    background-position: 50%;
}
.LinkCard-content{
    position: relative;
    display: flex;
    padding: 12px;
    background-color: hsla(0,0%,96.5%,.88);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.LinkCard-text{
    width: 100%;
    overflow: hidden;
}
.LinkCard-title{
    display: -webkit-box;
    font-size: 16px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.25;
    font-weight: 500;
}
.LinkCard-meta{
    color: #999;
    font-size: 14px;
    margin-top: 4px;
}
.LinkCard-imageCell{
    display: block;
    overflow: hidden;
    border-radius: 6px;
    margin-left: 8px;
    height: 60px;
}
.LinkCard-imageCell img, .LinkCard-imageCell div{
    height: 60px;
    width: 60px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LinkCard-imageCell img{
    padding-right: 14px;
}
.LinkCard-image--horizontal img{
    width: 90px;
    padding-right: 33px;
}
.LinkCard-imageCell div{
    width: 60px;
    background: #ededed;
    color: #d3d3d3;
    padding-right: 14px;
}




.VideoLinkCard{
    margin: 1em auto;
    border-radius: 8px;
    overflow: hidden;
}
.VideoLinkCard-video{
    position: relative;
    padding-bottom: 56%;
}
.VideoLinkCard-video-content{
    position: absolute;
    max-width: 100%;
}
.VideoLinkCard-link{
    display: block;
    padding: 12px;
    background: #F6F6F6;
}
.VideoLinkCard-author{
    color: #999;
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.VideoLinkCard-author img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
}

