*{
	margin: 0;
	padding: 0;
}
body{
	margin-top: 10px;
	color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f6f6f6;
}
.AllDiv{
	display: flex;
    justify-content: center;
	
	
}

.leftDiv{
	flex: 1;
    max-width: 600px;
    width: 100vw;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
}

.imgDiv{
	
	display: flex;
	
	padding: 15px ;
	
}

.imgDiv>img{
	width: 78px;
	height: 78px;
	border-radius: 10px;
	margin-right: 10px;
	
}
.pDiv>p:first-child{
	
}
.pDiv>p:first-child>a{
	font-size: 17px;
	color:#000000;
	text-decoration: none;
}
.pDiv>p:nth-of-type(2){
	margin: 4.8px 0px;
	
}
.svgDiv{
    float: left;
    font-size: 12px;
    border: #adadbc 1px solid;
    color: #adadbc;
	line-height: 20px;
    padding:0 10px;
    border-radius: 5px;
    text-align: center;
    
}
.svgDiv>svg{
	position: relative;
	top:3px;
}

.svgDiv2{
	border-left: 1px solid #D8D8D8;
	margin-left: 70px;
	padding-left: 10px;
}
.svgDiv3{
	
	margin-left: 95px;
	
}
.svgDiv4{
	margin-left: 85px;
}
.imgDiv+img{
	width: 600px;
	height: 140px;
}
.rightDiv{
	padding: 15px;
	background: #FFFFFF;
    width: 320px;
    border-radius: 4px;
    height: 215px;
}
.rightDiv>div:first-of-type{
	margin-bottom: 10px;
}
.rightDiv>div{
	padding-right: 10px;
}
.rightDiv div:last-of-type{
	display: inline-block;
	
}
.rightDiv div:last-of-type>svg{
	margin-left: 60px;
}
.hr{
	border-top: 1px solid #eee;
	margin: 15px -15px;
}
.p{
	margin-top: -10px;
	line-height: 50px;
}
