.Modal-wrapper{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    z-index: 9999999999999999999999999999999;
    /*transition: all .2s;*/
    align-items: center;
    justify-content: center;
}
.Modal-backdrop{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.65);
    position: absolute;
}
.Modal{
    margin: 0 auto;
    position: relative;
    top: 20px;
    transition: all .3s;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(26,26,26,.1);
    max-height: calc(100vh - 48px);
}
.Modal--default{
    height: calc(100vh - 48px);
    width: 688px;
    margin-bottom: 40px;
}
.Modal--large {
    width: 536px;
}
.Modal-inner{
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
}
.Modal--default .Modal-inner{
    height: 100%;
}
.Modal-title{
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}
.Modal-content{
    /*margin: 0 24px 32px;*/
}
.LinkModal-input{
    position: relative;
    display: flex;
    align-items: center;
    /*width: 108px;*/
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background .2s,border .2s;
    width: 100%;
    color: #8590a6;
}
.Modal-closeButton{
    position: absolute;
    top: 8px;
    right: -60px;
    padding: 12px;
}
.Modal-closeIcon{
    vertical-align: top;
    fill: #fff;
}
.LinkModal-input+.LinkModal-input{
    margin-top: 10px;
}
.LinkModal-input .Input{
    outline: none;
    border: 0;
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
}
.ModalButtonGroup{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
/* .button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
} */
.ModalButtonGroup>button{
    flex: 1 1;
    max-width: 168px;
    outline: none;
}
.Button--blue{
    background: #0084ff;
    color: #fff;
    border-color: #0084ff;
}
.Button--blue:hover{
    border-color: #0077e6;
    background: #0077e6;
}
.Button--grey:hover{
    background-color: rgba(133,144,166,.06);
}


/* Ã·Œ øÚ */
.Ask-form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0 24px 32px;
    margin-top: 24px;
    line-height: 1.7;
    opacity: 1;
}
.Ask-item{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 16px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.Ask-titleWrapper{
    display: block;
}
.Ask-title{
    width: 100%;
}
.Popover .AskTitle-input{
    margin-top: 6px;
}
.Avatar--medium {
    border-radius: 3px;
    float: left;
    margin-top: 3px;
    margin-right: 16px;
}
.AskTitle-input{
    max-height: 48px;
    font-size: 18px;
    padding: 0!important;
    border: none;
    outline: none;
}
.Input-wrapper.Input-wrapper--spread {
    width: 100%;
}
.AskTitle{
    position: relative;
    font-size: 18px;
}
.Avatar {
    background: #fff;
    border-radius: 2px;
}
.AskDetail {
    min-height: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.InputLike {
    padding: 4px 10px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s,border .2s;
    transition: background .2s,border .2s;
}
.InputLike .Input-wrapper{
    height: auto;
    max-height: max-content;
}
.InputLike.AskDetail-input{
    padding: 6px 10px;
}
.Tag {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    border-radius: 100px;
    background: rgba(0,132,255,.1);
    color: #0084ff;
}
.TagInputAlias .Tag {
    margin: 0 8px 0 0;
}
.Tag--removable {
    padding-right: 28px;
}
.Tag-remove {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: inherit;
}
.Tag-remove .Zi {
     display: block;
 }
.Button--withIcon.Button--link, .Button--withIcon.Button--plain {
    padding: 0;
}
.TagInputAlias{
    display: flex;
}
.TopicInputAlias-placeholderButton {
    background: none !important;
    color: #0084ff !important;
    border: 0;
}
.AskFieldTip{
    color: #f1403c;
    font-size: 15px;
}
.Ask-footer-buttonWrapper{
    display: flex;
    justify-content: flex-end;
}
.Ask-footer-buttonWrapper .button{
    padding: 0 16px;
    margin: 0 8px;
    border: 1px solid #0084ff;
    border-radius: 3px;
    line-height: 32px;
}
.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
}