li{
	display: list-item;
	text-align: -webkit-match-parent;
	list-style-type: none;
}
ol,ul{
	padding: 0;
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
ul{
	display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.Pub-index-box{
	background-color: #F6F6F6;
}
.LoadingBar{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    display: none;
    height: 2px;
    pointer-events: none;
    background: #0084ff;
    transform: translateX(-100%);
}
.App-main{
	display: block;
}
.CornerButtons{
	position: fixed;
    bottom: 0;
    right: 12px;
    display: flex;
    flex-direction: column;
    transition: transform .2s ease,-webkit-transform .2s ease;
    will-change: transfrom;
}
.PubIndex{
	width: 1000px;
	margin: 20px auto;
}
.Card{
	margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}
.Card:last-child{
	margin-bottom: 0;
}
.PubIndex-recommendationsHeader{
	padding-left: 20px;
}
.Card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
}
.BookList{
	margin-right: 20px;
	margin-left: 20px;
	padding: 20px 0;
	display: flex;
}
.PubIndex-recommendationsHeader .Card-headerText{
	display: flex;
	width: 100%;
	font-size: 16px;
}
.Card-headerText{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
}
.PubIndex-recommenddtionsLink{
	margin-left: auto;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    color: #8590a6;
}
.PubIndex-recommenddtionsLink .Icon{
	margin-left: 8px;
	transform: rotate(-90deg);
    fill: currentColor;
}
.PubIndex-recommends .BookItem{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
.BookCoverWrapper{
	position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6px;
}
.BookItem-title {
    position: relative;
    margin-top: 14px;
    margin-bottom: 9px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}
.BookItem-authors {
    margin-bottom: 12px;
    line-height: 1;
}
.BookItem-promotion {
    display: flex;
    line-height: 1;
}
.BookCoverWrapper .ImageWrapper{
	border-radius: inherit;
}
.ImageWrapper{
	position: relative;
	flex-shrink: 0;
}
.BookCoverWrapper:before{
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: rgba(0,0,0,.03);
    z-index: 1;
    pointer-events: none;
}
.ImageWrapper .sizeHolder{
	border-radius: inherit;
	background: #f0eff5;
}
.PubIndex .BookItem-cover .Image{
	height: 200px;
}
.BookItem-cover .Image{
	display: block;
	max-width: 100%;
}
.ImageWrapper img{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-size: 12px;
    color: #aaa;
    white-space: nowrap;
    text-overflow: ellipsis;
    object-fit: cover;
    overflow: hidden;
}
.Yuan{
	font-family: PingFang SC,Arial,sans-serif;
}
.Yuan-symbol{
	letter-spacing: .1em;
}
.BookItem{
	width: 150px;
	flex-shrink: 0;
	font-size: 14px;
	color: #8590A6;
}
.BookList .BookItem {
    margin-right: 50px;
}
.PubAnchor{
	-webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}
.PubIndex-CategoriesHeader{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f2f7;
    background: #fff;
    z-index: 2;
}
.PubIndex-main:not(.is-drained) {
    min-height: calc(100vh - 100px);
}
.PubIndex-helpLinkWrapper{
	padding: 20px;
	font-size: 14px;
	text-align: right;
}
.PubIndex-tabs{
	display: flex;
	align-items: center;
	border-bottom: 0;
	font-size: 16px;
}
.PubIndex-CategoriesHeader .pub-NavShelf{
	margin: 0 16px 0 auto;
}
.pub-NavShelf{
	position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}
.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
}
.Button--blue{
	color: #0084FF;
	border-color: #0084FF;
}
.PubIndex-tabs .Tabs-item{
	flex-shrink: 0;
}
.Tabs-item{
	display: inline-block;
	padding: 0 20px;
}
.PubIndex-tabs .Tabs-link{
	font-size: 1em;
	line-height: normal;
}
.Tabs-link.is-active {
    font-weight: 600;
    font-synthesis: style;
}
.Tabs-link{
    position: relative;
    display: inline-block;
    padding: 14px 0;
    font-size: 15px;
    line-height: 22px;
    color: #8590a6;
    text-align: center;
}
.Tabs-link.is-active:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 3px;
    background: #0084ff;
    content: "";
}
.pub-NavShelf .Icon{
	margin-right: 10px;
	fill: #0084eb;
}
.Icon{
	vertical-align: text-bottom;
	fill: currentcolor;
}
/*svg[Attributes Style] {
    width: 15px;
    height: 14px;
}*/
user agent stylesheet svg:not(:root) {
    overflow: hidden;
}
.PubIndex-subTabs{
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    margin: 0 4px;
    padding: 12px 0;
    font-size: 15px;
}
.PubIndex-subTabs .is-active {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-weight: 500;
}
.PubIndex-subTabs a {
    flex-shrink: 0;
    padding: 20px;
}
.PubIndex-subTabs .Popover {
    flex-shrink: 0;
    margin-left: 15px;
}
.Popover{
	position: relative;
	display: inline-block;
}
.Select-button{
	height: 40px;
	padding: 0 20px;
    line-height: 38px;
    text-align: left;

    background: none;
    outline: none;
}
.Select-arrow{
	margin-left: 8px;
}
.BookList--wrap{
	flex-wrap: wrap;
    margin-bottom: -50px;
}
.BookList{
	margin-left: 20px;
	margin-right: 20px;
    padding: 20px 0;
}
.BookList--wrap .BookItem{
	margin-bottom: 60px;
}
.BookList .BookItem {
    margin-right: 50px;
}
.BookItem{
	width: 150px;
    flex-shrink: 0;
    font-size: 14px;
    color: #8590a6;
}
.PubIndex .BookItem-cover .Image{
	height: 200px;
}
.BookItem-cover .Image {
    display: block;
    max-width: 100%;
    height: 144px;
}
.BookItem a{
	display: block;
}
.BookList .BookItem:nth-child(5n) {
    margin-right: 0;
}

.Popover-content {
    position: absolute;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(26,26,26,.1);
    z-index: 203;
    margin-top: -50px;
}

.Select-list {
    position: relative;
    overflow: auto;
    max-height: 500px;
    padding: 8px 0;
    border-radius: 4px;


}
.Select-option {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;
    color: #8590a6;
    text-align: left;
    background: none;
    border: none;
    outline: none;

}
.optionH{
	background: #f3f3f3;
}
body, button, p, pre {
    margin: 0;
}
