.Tag{
    color: #0084ff;
    padding: 0 12px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 100px;
    background: rgba(0,132,255,.1);
}
.Tag:hover{
    background: rgba(0,132,255,.15);
}

.QuestionHerder{
    padding: 16px 0;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: #fff;
}
.QuestionHerder-content{
    width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
.QuestionHerder-main{
    min-width: 694px;
    padding-left: 20px;
    box-sizing: border-box;
}
.QuestionHeader-topics{
    display: flex;
}
.QuestionTopic{
    margin: 3px 5px 3px 0;
}
.QuestionHeader-title{
    margin: 12px 0 4px;
    line-height: 32px;
}
.QuestionHeaderTopicMeta{
    background: #F6F6F6;
    padding: 0 12px;
    margin: 14px 0;
    display: flex;
    height: 74px;
}
.QuestionHeaderTopicMeta.Card{
    border: 1px solid #ebebeb;
    box-shadow: none;
}
.QuestionHeaderTopicMeta-CardMain{
    display: flex;
    align-items: center;
}
.QuestionHeaderTopicMeta-CardMain img{
    height: 54px;
    width: 54px;
}
.QuestionHeaderTopicMeta-Content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 48px;
    justify-content: space-between;
}
.QuestionHeaderTopicMeta-cardTitlebox{
    display: flex;
    margin-left: 10px;
}
.QuestionHeaderTopicMeta-cardTitle{
    font-size: 17px;
}
.QuestionHeaderTopicMeta-percentNum{
    color: #0084ff;
    font-size: 17px;
    font-weight: 600;
    margin-left: 9px;
    margin-right: 1px;
}
.QuestionHeaderTopicMeta-Info{
    margin-left: 10px;
    height: 20px;
    color: #999;
    max-width: 469px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.VotableTopicCard{
    display: flex;
    padding: 10px 15px 10px 12px;
    padding-top: 5px;
}
.TopicVoteBox{
    width: 40px;
    height: 40px;
    position: relative;
}
.TopicVoteBox>label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8590a6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ebebeb;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}
.TopicVoteBox>label:hover{
    background: rgba(0, 0, 0, 0.07);
}
.TopicVoteBox.TopicVoteBox--against>label{
    margin-left: 10px;
    transform: rotate(180deg);
}
.QuestionRichText p{
    margin: 0;
}
.QuestionHerder-side{
    width: 296px;
    padding-right: 20px;
    text-align: right;
}
.QuestionHeader-follow-status{
    width: 200px;
    margin-left: auto;
}
.QuestionFollowStatus{
    display: flex;
    justify-content: flex-end;
}
.Numboard-itemInner{
    padding: 0 8px;
    text-align: center;
}
.Numboard-item>.Numboard-itemInner{
    border-left: 1px solid #ededed;
}
.Numboard-itemName{
    color: #8590a6;
}
.Numboard-itemValue{
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;
}
.QuestionHerder-footer{
    margin-top: 4px;
}
.QuestionHerder-footer-inner{
    width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
}
.QuestionHerder-footer-main{
    display: flex;
}
.QuestionHeaderActions{
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.QuestionHeaderActions>button{
    padding: 0 16px;
    line-height: 32px;
    border: 1px solid #8590a6;
    border-radius: 3px;
    margin-right: 20px;
}
.button.button--primary.button--blue.is-active{
    color: #fff;
    background: #8590a6;
    border: 1px solid #8590a6;
    min-width: 90px;
}
.button.button--primary.button--blue.is-active:hover{
    border-color: #76839b;
    background-color: #76839b;
}
.GoodQuestionAction-Btn{
    margin: 0 20px 0 1px;
}
.GoodQuestionAction-Btn.is-active{
    color: #0f88eb;
}
.QuestionHeaderActions .Popover.ShareManu,.QuestionHeaderActions .Popover{
    margin-left: 20px;
}


.Question-main{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 10px;
}
.Question-mainColum{
    width: 694px;
}
.AnswerAdd-header{
    display: flex;
    padding: 16px 20px;
}
.AnswerAdd-info{
    display: flex;
}

/* ±à¼­ */
.Editable-toolbar{
    background: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    -webkit-user-select: none;
}
.AnswerForm .Editable-toolbar{
    border-top: 1px solid #EBEBEB;
}
.AnswerForm-footerContent{
    padding: 10px 16px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 -1px 3px 0 rgba(23,81,153,.05);
}
.AnswerForm-submit{
    padding: 0 16px;
    margin: 0 8px;
    background: #fff;
    border: 1px solid #0084ff;
    border-radius: 3px;
    line-height: 32px;
}
.Editable-toolbar-controls{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 3px;
}
.Editable-toolbar-controls>button{
    border: 0;
}
.Editable-control{
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 26px;
    margin: 0 2px;
    white-space: nowrap;
    resize: none;
    outline: none;
}
.Editable-content{
    padding: 12px 20px;
    font-size: 15px;
}

.Button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px
}
.Button--link,.Button--plain{
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border-radius: 0;
}
.Editable-control .Zi .Editable-control span{
    vertical-align: middle;
}
.Editable-control .Zi{
    fill:#8590A6
}
.Editable-toolbar-separator{
    background-color: #ebebeb;
    height: 20px;
    margin: 0 2px;
    width: 1px;
}
.RicheText--clraeBoth:after,.RicheText--clraeBoth:before{
    clear: both;
    content: "";
    display: block;
}
.PostEditor .DraftEditor-root {
    padding: 0;
    font-size: 16px;
    min-height: 300px;
}
.ztext>:last-child{
    margin-bottom: 0;
}
.ztext>:first-child {
    margin-top: 0;
}
.Editable .public-DraftEditorPlaceholder-root {
    color: #8590a6;
    position: absolute;
    pointer-events: none;
}
.Editable-unstyled:last-child {
    margin-bottom: 0;
}
.Editable-unstyled:first-child {
    margin-top: 0;
}
.Editable-unstyled {
    margin: 0 0 1.4em;
}
.PostEditor .public-DraftStyleDefault-block {
    max-width: 100%;
}





.list-header{
    height: 50px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F6F6F6;
}
.list-headerOptions button{
    display: flex;
    align-items: center;
}
.list-items{
    padding: 0 20px;
}
.ConstantItem-meta{
    margin-top: 0;
    display: block;
}


.Question-sideColum{
    width: 296px;
}
.Question-sideColum-content.is-Fixed{
    width: 296px;
    transition: all ease-in-out .3s
}
.SimilarQuestions-item{
    color: #8590a6;
    font-size: 14px;
}
.SimilarQuestions-item+.SimilarQuestions-item{
    margin-top: 10px;
}
.SimilarQuestions-item .button{
    color: #175199;
    border-radius: 0;
    padding-left: 2px;
}
.SimilarQuestions-item .button:hover{
    border-bottom: 1px solid #175199;
}
.RelatedCommodtites-item{
    display: flex;
    border-radius: 0;
}
.RelatedCommodtites-item+.RelatedCommodtites-item{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #d3d3d3;
}
.RelatedCommodtites-item img{
    width: 80px;
    height: 64px;
    border-radius: 3px;
    object-fit: cover;
    margin-right: 8px;
}
.RelatedCommodtites-content{
    overflow: hidden;
    width: 168px;
}
.RelatedCommodtites-title{
    font-weight: 600;
    font-size: 14px;
    color: #1a1a1a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: color .1s;
}
.RelatedCommodtites-title:hover{
    color: #175199;
}
.RelatedCommodtites-title-top{
    white-space: normal;
    max-height: 40px;
}
.RelatedCommodtites-description{
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
}
.RelatedCommodtites-meta{
    margin-top: 3px;
}
.RelatedCommodities-bookMeta{
    display: flex;
    justify-content: space-between;
}
.RelatedCommodities-bookRead{
    background: #0084ff;
    color: #fff;
    border-radius: 3px;
    padding: 3px 6px 3px 3px;
    line-height: 1;
}


/*»Ø´ð*/
.QuestionMainAction{
    text-align: center;
    height: 50px;
    display: block;
    line-height: 50px;
    color: #8590a6;
}
.QuestionMainAction:hover{
    color: #175199;
}
.List-herder{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.List-herder::after{
    content: "";
    border-bottom: 1px solid #ededed;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.List-herderText{
    display: inline;
    text-align: center;
    color: #8590a6;
    font-weight: inherit;
    z-index: 1;
    padding: 0 20px;
    background: #fff;
}
.AnswersContent{
    overflow: hidden;
    position: relative;
}
.AnswersContent.is-collapsed{
    transition: all .3s;
}
.AnswersContent.is-collapsed .ConstantItem-inner{
    -webkit-mask-image:linear-gradient(#1a1a1a calc(100% - 8rem),transparent calc(100% - 2.8rem));
    cursor: pointer;
    color: #646464;
}
.ConstantItem-inner{
    overflow: hidden;
}
.AnswersContent.is-collapsed>.button{
    color: #175199;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 75px;

}

/*gj*/
.xDiv,.sDiv{
    background: #FFFFFF;

}
.gyDiv{
    font-weight: 600;
    padding:16px 20px;
    font-size: 14px;
    border-bottom: 1px solid #f6f6f6;
}
.tpDiv{
    display: flex;
    font-size: 14px;
    margin: 0px 20px;
    padding:16px 0 6px;
    border-bottom: 1px solid #f6f6f6;
}
.tpDiv>div>img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.tpDiv>div>h2{
    line-height: 20px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.tpDiv>div>p{
    margin-top: 10px;
}
.hdDiv{
    padding: 20px 30px 0 10px;
    display: flex;
}
.hdDiv>div{
    width: 85px;
    text-align: center;
    font-size: 14px;
    color: #8590a6;
}
.hdDiv>div>div{
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 600;
}
.hdDiv div:hover{
    color: #175199;
    cursor: pointer;
}
.hDiv{
    display: flex;
    padding: 20px;
}
.Button {
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    max-width: 120px;
    border-radius: 3px;
}
.Button--blue {
    color: #fff;
    background-color: #0084ff;
    border: 1px solid #0084ff;
}
.Button--grey {
    color: #8590a6;
    background: none;
    border: 1px solid #8590a6;
    margin-left: 16px;
}

/*gj*/
.up{
    background-color: #76839b;
    border:1px solid #76839b;
    color: #fff;

}
