*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #f6f6f6;
	line-height: 1.6;

}
.AllDiv{
	display: flex;
	width: 1000px;
	margin: 10px auto;
	
}
.leftDiv{
	width: 694px;
}
.leftDiv>.firstDiv{
	display: flex;
	background-color: white;
 	border-radius: 4px;
}
.leftDiv>.firstDiv>.oneDiv{

	height: 240px;
}
.leftDiv>.firstDiv>.oneDiv>img{
	border-radius: 4px;
	height: 100%;
}
.leftDiv>.firstDiv>.twoDiv{
	padding: 0px 20px;

}
.twoDiv>h1,.threeDiv>p{
	padding: 20px 0;
}
.leftDiv>.firstDiv>.twoDiv>div:first-of-type{
	    color: #29a2b3;
	    font-size: 13px;
	    line-height: 16px;
	    margin-top: -20px;
}
.leftDiv>.firstDiv>.twoDiv>div:first-of-type>svg{
	margin-right: 10px;
}
.leftDiv>.firstDiv>.twoDiv>p:first-of-type{
	font-size: 15px;
	margin-top: 10px;
}
.leftDiv>.firstDiv>.twoDiv>div:last-of-type{
	color: #D8D8D8;
	margin-top: 20px;
	font-size: 13px;
}
.leftDiv>.firstDiv>.twoDiv>div:last-of-type>span{
	line-height: 40px;
}
.leftDiv>.firstDiv>.twoDiv>div:last-of-type>div{
	float:right;
	display: inline-block;
	width: 96px;
    height: 40px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #29a2b3;
    font-size: 15px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

}
.leftDiv .erDiv{
	margin-top: 10px;
	background-color: white;
	padding: 10px 20px;
}
.leftDiv .erDiv>div:first-child,.leftDiv .erDiv>.threeDiv{
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 10px;
}
.leftDiv .erDiv>.threeDiv{
	padding-bottom: 20px;
}
.leftDiv .erDiv>div>span{
	line-height: 20px;
	margin-right: 30px;
	cursor: pointer;
}
.leftDiv .erDiv>div:first-child>span:first-of-type{
	border-bottom: 5px solid deepskyblue;
	padding-bottom: 10px;
}
.leftDiv .erDiv>div:first-child>span:last-of-type{
	float: right;
	margin-right: 0px;
	color:dodgerblue;
}
.leftDiv .erDiv>.threeDiv>p{
	font-size: 17px;
    line-height: 24px;

}
.leftDiv .erDiv>.threeDiv>span{
	color: rgb(153, 153, 153);
    font-size: 12px;
    line-height: 16px;
    opacity: 0.8;
    margin: 2px 0px 0px;

}
.leftDiv .erDiv>.threeDiv>div{
	float:right;
	color:white;
	background-color: #29a2b3;
	border-radius: 20px;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	font-weight: bold;
	height: 30px;
    font-size: 15px;

}
.leftDiv .erDiv>.threeDiv>div>svg{

    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top:-1px;
}

.rightDiv{
    width: 295px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
	left: 1155.5px;
	top: 62px;
}
.right1,.right2{
	margin: 0 20px;

}
.rightI{
	font-size: 15px;
    line-height: 1.2;
    padding: 14px 0;
    margin-bottom: 12px;
	border-bottom: 1px solid #D8D8D8;
	font-weight: 600;

}
.rightOn{
	

	padding-bottom: 20px;
}
.rightOn img{
	height:44px;
	width:44px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
	vertical-align: top;
	position: relative;
    top: -3px;
}
.rightOnn span{
	font-weight: 600;
	cursor: pointer;
}
.rightOnn .zbfDiv{
	display: inline-block;
	width: 48px;
    height: 18px;
    color: #8590A6;
    margin-left: 4px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid currentColor;
    border-radius: 8px;
    opacity: 0.6;
    text-align: center;
    cursor: pointer;
}
.rightOnn>div:last-of-type{
	color: #999999;
    margin-top: -17px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin-left: 60px;
    
}
.lastDiv1{
    color: #8590A6;
	font-size: 14px;
	margin: 10px 0;
	border-top: 1px solid #D8D8D8;
	padding-top: 10px;
}
.lastDiv1 span{
	line-height: 10px;
}
.lastDiv1 a{
	text-decoration: none;
	color: #8590A6;
	float:right;
}
.lastDiv1  svg{
	position: relative;
	top:3px;
}
.lr{
	background-color: #f6f6f6;
	height: 10px;
}
.yuanzhuo-addcolor{
	 color: rgba(25, 5, 71, 0.5);
}
.rightIn>div>div{
	margin-top:10px;
}