div{
	display: block;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style-type: none;
}
form{
	display: block;
	margin-top: 0em;
}
body,button,p,pre{
	margin: 0;
}
body{
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    background: #f6f6f6;
    -webkit-tap-highlight-color: rgba(26,26,26,0);
}
button{
	padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
.LoadingBar{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    display: none;
    height: 2px;
    pointer-events: none;
    background: #0084ff;
    transform: translateX(-100%);
}
.css-r9mkgf{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #FFFFFF;
    width: 1000px;
    margin: 10px auto;
    padding-bottom: 20px;
    border-radius: 2px;
}
.css-u17etp{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0,34,77,0.05);
}
.css-g9qnka{
	padding: 0 20px;
}
.css-y9ycxx{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-weight: 600;
    color: #1A1A1A;
    font-size: 15px;
    line-height: 20px;
}
.css-gv0t9a{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #175199;
    color: #0084FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.CornerButtons{
	position: fixed;
    bottom: 0;
    right: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    transition: transform .2s ease,-webkit-transform .2s ease;
    will-change: transfrom;
}
.css-lufng4g{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #175199;
    width: 200px;
    height: 224px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 47px;
}
.css-lkl3nol{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 6px;
}
.zprod5{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    border-radius: 6px;
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    left: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));
}
.css-k7kepf{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #FFFFFF;
    position: absolute;
    bottom: 34px;
    left: 10px;
}
.css-uzf21t{
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #8590A6;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1;
}
.css-lufng4g:nth-of-type(4n){
    margin-right: 0;
}
.css-lufng4g:nth-of-type(n+5){
    margin-top: 40px;
}
.css-lufng4g:nth-of-type(4n+2){
    margin-right: 52px;
}