/*-------------侧栏*/
.Sticky{
    transition: all ease-in-out .3s;
}
/*发布栏*/

.NewGlobalWrite-anvTop{
    padding: 20px 15px;
    display: flex;
    border-bottom: 1px solid #F6F6F6;
}
.NewGlobalWrite-topItem{
    margin-right: 22px;
    width: 50px;
}
.NewGlobalWrite-topItem svg{
    width: 100%;
}
.NewGlobalWrite-anvTop>:last-child{
    margin-right: 0;
    width: 50px;
}
.NewGlobalWrite-topTitle{
    margin-top: 12px;
    line-height: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #444;
}
.NewGlobalWrite-anvBottom{
    display: flex;
}
.NewGlobalWrite-anvItem{
    flex: 1;
    display: flex;
    justify-content: center;
}
.NewGlobalWrite-anvBottom :first-child{
    border-right: 1px solid #F6F6F6;
}
.NewGlobalWrite-navTitle{
    margin: 16px 0;
    font-size: 14px;
    color: #8590a6;
    padding-left: 3px;
}
.NewGlobalWrite-navTitle:hover{
    color: #175199;
}

/*创作中心*/
.CreatorEntrance-link{
    padding: 0 17px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.CreatorEntrance-hint{
    height: 52px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}
.CreatorEntrance-creator{
    color: #8590a6;
    width: 18px;
    height: 18px;
}
.CreatorEntrance-text{
    margin-left: 9px;
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    color: #8590a6;
    width: 208px;
}
.css-605fnf{
    margin-left: 8px;
    color: #0084ff;
}
.CreatorEntrance-arrow{
    color: #8590a6;
}
.ProfileSideCreator-analytics{
    border-top: 1px solid #f6f6f6;
    padding: 20px 0;
    display: flex;
}
.ProfileSideCreator-readCountItem{
    border-right: 1px solid #ededed;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ProfileSideCreator-analytics :last-child{
    border-right: 0;
}
.ProfileSideCreator-readCountTitle{
    color: #8590a6;
    font-size: 12px;
    line-height: 22px;
}
.ProfileSideCreator-readCountNum{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #444;
}
.css-u2c28s{
    font-size: 12px;
    display: flex;
    color: #8590a6;
}
.css-1gqb0v0{
    margin-left: 4px;
    color: #444;
    font-weight: 600;
}
.css-1ntg9ig{
    color: #0084ff;
}
.css-2ntg9ig{
    color: #FF0000;
}
.css-19mtex{
    padding: 10px 8px;
    border-top: 1px solid #f6f6f6;
}
.css-1qzrmsu {
    color: #8590a6;
    font-size: 12px;
}

/*分类*/
.Topstory-sidebar-category{
    overflow: hidden;
}
.Topstory-sidebar-categoryList{
    margin: 20px 0 -5px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}
.Topstory-sidebar-categoryItem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 33%;
    margin-bottom: 25px;
}
.Topstory-sidebar-categoryItem .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.Topstory-sidebar-categoryIcon{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.Topstory-sidebar-categoryTitle{
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.Topstory-sidebar-categoryTitle-Color{
    color: #8590a6;
}


/*list*/
.Topstory-sidebar-navList{
    padding: 8px 0;
}
.Topstory-sidebar-navLink{
    padding: 0 24px;
    display: flex;
    height: 40px;
    align-items: center;
}
.Topstory-sidebar-navLink:hover{
    background: #f6f6f6;
}
.Topstory-sidebar-navTitle{
    margin: 0 10px;
    flex: 1 1;
}
.Topstory-sidebar-navNum{
    padding: 6px 10px;
    background: #f6f6f6;
    font-size: 12px;
    border-radius: 2px;
}
.Topstory-sidebar-navLink:hover .Topstory-sidebar-navNum{
    background: #fff;
}

/*jq*/
/*固定侧栏*/
.Sticky.is-Fixed{
    position: fixed;
}