*{
	margin: 0px;
	padding: 0px;
}
li{list-style:none;
}

a{
	text-decoration: none;
	color:black;
}
a{
	font-weight:100;
}
#divbig{
	width: 100%;
	min-height: 688px;
	height: 100vh;
	background-color:skyblue;
    background-image: url("../images/signin/sign_bg.db29b0fb.png");
    overflow: hidden;
    /*position: fixed;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1 1;
}

#div1{
	width: 400px;
	height: 496px;
	background-color:white ;
	/*position: fixed;*/
	position: relative;
	z-index: 2;
}

li input{
	border: 1px solid white;
	height: 60px;
	margin-top:4%;
	text-autospace: 0.5s;
	color: gainsboro;
	width: 86%;
	margin-left: 7%;

}
hr {
	width: 86%;
	margin-left: 7%;
}


#ml {
	background-color: #0084ff;
    width: 285px;
    margin-left: 120px;
    line-height: 30px;
    height: 50px;

}
#ml p{
	    padding-left: 120px;
}
.do{
	width: 128px;
	height: 81px;
	margin-bottom: 24px;
}
.b li{
	display: inline-block;
}
#omg1{
	font-size: 23px;
	margin-bottom: 7%;
	font-family: "微软雅黑";
	margin-top: 2%;
	margin-left: 5%;

}
#omg2{
	margin-left: 40px;
}
#omg3{
	margin-top: 3%;
	margin-left: 6%;
	font-size: 20px;

}
#omg4:hover{
	color: #76839b;
}
#omg4{
	color:#175199;

}
#omg5{
	margin-left:40% ;
}
#omg6{
	border: 1px solid #0084FF;
	width: 440px;
	height: 50px;
	margin-left: 8%;
	margin-top: 5%;
	background-color: #0084FF;
	text-align: center;
	border-radius:8px ;
	font-size:22px ;
	line-height: 45px;
}
#omg7{
	color: white;
}
#omg8{
	color:dimgray;
	margin-left: 6.5%;
	margin-top: 10%;
}
.omg9 li {
	display: inline-block;
}
#omg9{
	margin-left: 6.5%;
	margin-top: 8%;
	font-size: 22px;
	color: dimgray;
}
#omg10{
	margin-top: -6%;
	margin-left:50% ;
	vertical-align: middle;
	font-size: 22px;
	color: dimgray;
}
#omg11{
	width: 100%;
	height: 80px;
	margin-top: 4.7%;
	background-color: #DCDCDC;
}
#omg12{
	font-size: 22px;
	color: #0084FF;
	margin-left:10px;
	height:50px;
	position: relative;
	top:34px;
}
#omg13{
	font-size: 22px;
	width:180px;
	height:30px;
	color: #0084FF;
}
#omg14{
	margin-left: 68%;
	margin-top: -3%;
}
#omg15{
		/*margin-left: 3%;
		margin-top: 1%;*/
		    vertical-align: middle;
		    position: relative;
			top:34px;
}


.SignFlow{
	padding: 0 24px 24px;
}
.SignFlow-tabs{
	display: flex;
}
.SignFlow-tab{
	font-size: 16px;
	height: 60px;
	line-height: 60px;
	margin-right: 24px;
	cursor: pointer;
}
.SignFlow-tab.SignFlow-tab--active{
	color: #1A1A1A;
	font-weight: 600;
	position: relative;
}
.SignFlow-tab.SignFlow-tab--active::after{
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 3px;
	background: #0084ff;
}
.SignFlow-account{
	margin-top: 24px;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	align-items: center;
}

.SignFlowInput{
	height: 48px;
	line-height: 24px;
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}
.SignFlowInput-errorMask{
	position: absolute;
	top: 0;
	left: 0;
	color: #f1403c;
	height: 48px;
	line-height: 48px;
}
.SignFlowInput-errorMask.is-active{
	height: 0;
	overflow: hidden;
}
.SignContainer-content .Input-wrapper{
	height: 48px;
	width: 100%;
	color: #8590a6;
	display: flex;
	align-items: center;
}
.SignFlow-accountInput .Input,.SignFlow-passwordInput .Input{
	color: #1A1A1A;
}

.Input{
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
	padding: 0;
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
	appearance: none;
}

.SignFlow-password{
	margin-top: 12px;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
.button{
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	color: #8590a6;
	text-align: center;
	cursor: pointer;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid;
	border-radius: 3px;
	outline: none;
}
.SignFlow-switchPassword{
	border: 0;
	padding: 0;
}
.SignFlow-switchPassword:hover{
	color: #999;
}
.Login-options{
	margin-top: 12px;
	display: flex;
	justify-content: flex-end;
}
.Login-option{
	border: 0;
	padding: 0;
	line-height: initial;
}
.SignFlow-submitButton{
	width: 100%;
	background: #0084ff;
	color: #fff;
	margin-top: 30px;
	height: 36px;
	border-radius: 3px;
}
.SignFlow-submitButton:hover{
	background: #0077e6;
}
.SignContainer-tip{
	padding: 12px 24px;
	color: grey;
	font-size: 13px;
}
.Login-socialLogin{
	border-top: 1px solid #ebebeb;
	margin: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	color: #8590a6;
}
.Login-socialLogin>span{
	display: flex;
}
.Login-socialButton{
	border: 0;
	margin-left: 22px;
	display: flex;
	align-items: center;
	padding: 0;
}
.Login-socialButton>svg{
	margin-right: 6px;
}
.css-1pk3pp1{
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F6F6F6;
	height: 60px;
}
.css-1pysja1{
	flex: 1;

}
.css-1pysja1:first-child{
	border-right: 1px solid #ebebeb;
}
.css-1pysja1:last-child{
	display: flex;
	justify-content: flex-end;
}
.css-1pysja1 a{
	display: flex;
	align-items: center;
	color: #0084FF;
	font-size: 15px;
}
.css-1pysja1 a svg{
	margin-right: 6px;
}
.SignFlowHomepage-footer{
	position: absolute;
	bottom: 20px;
	right: 0;
	left: 0;
}
.SignFlowHomepage-footer *{
	font-size: 12px;
	color: #FFF;
	text-shadow: 0 1px 2px #999;
	display: flex;
	align-items: center;
}
.SignFlowHomepage-footer>*{
	display: flex;
	justify-content: center;
}
.SignFlowHomepage-footer a:not(:last-child)::after{
	content: " \B7 ";
	white-space: pre;
	display: inline-block;
}
