*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #f6f6f6;
	line-height: 1.6;
}
.AllDiv{
	background-color: white;
	padding-bottom: 50px;
	width: 640px;
	
	margin: 10px auto;
}
.AllDiv header>div:first-child>img{
	width: 100%;
    height: 200px;
    
	object-fit: cover;
    
}
.AllDiv header>div:first-child div{
	
	width: 640px;	
	margin: 0 auto;
	height: 230px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    
}
.AllDiv header>div:nth-child(2){
    font-size: 23px;
    
    font-weight: 600;
    
    position: relative;
    top:-90px;
    left:-10px;
    
    
    
    margin: -18px 14px 0;
    padding: 15px 14px;
    color:#FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
    word-break: break-all;
    
}
.AllDiv section{
	margin: 0 14px;
}
.AllDiv section>div:first-child{
	

	position: relative;
    margin: -18px 0px 0;
    padding: 15px 14px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
    word-break: break-all;
}
.AllDiv section>div:first-child>div:first-child{
	font-size: 14px;
    color: #444;
    
}
.AllDiv section{
	margin-top: -70px;
}
.AllDiv section>div:first-child>div:nth-child(2){
    display: flex;
    
    margin-top: 10px;
   
}
.AllDiv section>div:first-child>div:nth-child(2)>div{
	flex:1 1;
    
}
.AllDiv section>div:first-child>div:nth-child(2) span{
	 color: #999;
    font-size: 12px;
    
}
.buttonn{
 	color: #fff;
    
    
    outline: none;
    width: 72px;
    height: 32px;
    font-size: 13px;
    border: 0px;
    
    cursor: pointer;
    
    border-radius: 3px;
    
}
.but{
	background-color: #0084ff;
}
.but:hover{
	border-color: hsl(208.94117647058823,100%,45%);
    background-color: hsl(208.94117647058823,100%,45%);
}
.butD{
	background-color: #8590a6;
}
.butD:hover{
		background-color:#768398;
	border-color: #768398;
}

.AllDiv section>div:first-child>div:nth-child(2)>button>div{
   	display: flex;
    
    justify-content: center;
    
    align-items: center;
    
}

.AllDiv section>div:first-child>div:nth-child(2) svg{
	margin-right: 6px;
	
}
.AllDiv section>div:nth-child(2){
	padding-top: 14px;
	
}
.AllDiv section>div:nth-child(2)>div:first-child{
	background-color: #0084FF;
    width: 4px;
    height: 15px;
    border-radius: 2px;
    margin-right: .3em;
    display: inline-block;
    
}
.AllDiv section>div:nth-child(2)>div:first-child+h2{
	margin:0;
	font-size: 18px;
	display: inline-block;
}
.aDiv{
	margin:20px 0px;
	display: flex;
	cursor: pointer;
	
}
.aDiv div{
	margin-right: 10px;
	background-color: rgba(0, 132, 255, 0.1);
	color:blue;
	border-radius: 8px;
	
	font-weight: bold;
	font-size: 13px;
	padding: 4px 12px;
	cursor: pointer;
	
	
}
.aDiv a:last-child div{
	background-color: #F6F6F6;
	color:#999;
}
.aDiv a{
	text-decoration: none;
	color:#999999;
}

.AllDiv .shuDiv{
	display: flex;
	margin-bottom: 30px;
}
.AllDiv .shuDiv>div{
	display: flex;
	margin-right: 10px;
}
.AllDiv .shuDiv>h3{
	margin-top: -5px;
}
.AllDiv .shuDiv>div>div:first-child{
	
	font-size: 20px;
	line-height: 15px;
}
.AllDiv section> .contentDiv{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 30px;
}


.AllDiv section> .contentDiv>img{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top:5px;
	border-radius: 15px;
}
.contentDiv>p,.contentDiv img,.contentDiv span,.contentDiv svg{
	cursor: pointer;
}
.contentDiv>p{
	margin-bottom: 20px;
}
.ztp{
	padding-top:15px;
	padding-bottom: 10px;
}
.contentDiv a{
	text-decoration: none;
	color:#000;
	
}

.contentDiv a p:first-child{
	font-weight: 100;
	font-size: 14px;
	margin-top: 0px;
}
.contentDiv a p:last-of-type{
	color: #999999;
	font-weight: 100;
	font-size: 13px;
	margin-top: -10px;
}
.contentDiv a>div{
	display: flex;
	background-color: rgba(133,144,166,0.1);
	border-radius: 10px;
	padding: 14px 12px 4px;
	
}
.contentDiv a>div>img{
	width: 95px;
	height: 66px;
	
}
.AllDiv .lastDiv{
	display: flex;
	
}
.lastDiv img{
	
	width: 40px;
	height: 40px;
	vertical-align: bottom;
	margin-right: 10px;
}
.lastDiv img~span{
	font-weight: 600;
	line-height: 40px;
}
.AllDiv .lastDiv>div{
	background: rgba(153, 153, 153, 0.08);
	padding: 8px 12px;
    outline: none;
    border-radius: 5px;
    color: rgb(0, 132, 255);
    
    
    margin-left: 460px;
    font-weight: 600;
    cursor: pointer;
    
    text-align: center;
}
.AllDiv .lastDiv>div>svg{
	position: relative;
	top:2px;
}
.shu{
	
	background-color:rgba(0, 132, 255, 0.1)
}


.gz{
	font-size: 13px;
}
.gzD{
	font-size: 15px;
}
