div{
    display: block;
}
body{
    color: #1A1A1A;
    -webkit-tap-highlight-color: rgba(26,26,26,0);
}
svg:not(:root){
    overflow: hidden;
}
.WhiteBg-body{
    background: #FFFFFF;
}
.LoadingBar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    display: none;
    height: 2px;
    pointer-events: none;
    background: #0084ff;
    transform: translateX(-100%);
}
.App-main{
    padding-bottom: 46px;
}
.CornerButtons{
    position: fixed;
    bottom: 0;
    right: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    transition: -webkit-transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
    will-change: transfrom;
}
.WriteIndexLayout{
    min-height: 660px;
}
.WriteIndexLayout-main{
    margin: 47px auto 0;
    width: 660px;
}
.WriteCover-wrapper{
    background: #F6F6F6;
    line-height: 192px;
    color: gray;
    min-height: 192px;
    text-align: center;
}
.WriteCover-perviexWrapper{
    min-height: 192px;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}
.WriteCover-perviexWrapper .UploadPicture-wrapper{
    display: block;
}
.UploadPicture-wrapper{
    cursor: pointer;
}
.WriteCover-perviexWrapper--empty:after{
    content: "\6DFB\52A0\9898\56FE";
    color: #999;
    position: absolute;
    cursor: pointer;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 64px;
    line-height: 1;
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-transition: all .2s;
    transition: all .2s;
}
.UploadPicture-input{
    display: none;
}
.WriteCover-uploadIcon{
    color: rgba(26,26,26,.2);
}
.Input-wrapper .Input-wrapper--multiline{
    height: inherit;
}
.WriteIndex-titleInput{
    margin: 16px 0;
    border: 0;
    padding: 0;
    height: auto;
    width: 100%;
    position: relative;
}
.Input-wrapper{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s,border .2s;
    transition: background .2s,border .2s
}
.WriteIndex-titleInput .Input{
    height: 44px;
    min-height: 44px;
    display: block;
    width: 100%;
    border: 0;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.Editable{
    padding: 0;
}
.PostEditor{
    border: 0;
    border-top: 1px solid rgba(26,26,26,.08);
}
.InputLike{
    background: #FFFFFF;
    border-radius:3px ;
    box-sizing: border-box;
    transition: background .2s,border .2s;
}
.PostEditor .RicheText{
    margin: 30px;
    padding: 0 0 200px;
    min-width: 660px;
}
.Editable-content{
    padding: 6px 12px;
    cursor: text;
}
.Dropzone{
    position: relative;
}
.ztext{
    word-break: break-word;
    line-height: 1.6;
}
.Editable-toolbar{
    background: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    -webkit-user-select: none;
}
.Editable-toolbar-controls{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.Editable-control{
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 26px;
    margin: 0 2px;
    white-space: nowrap;
}

.Button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px
}
.Button--link,.Button--plain{
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border-radius: 0;
}
.Editable-control .Zi .Editable-control span{
    vertical-align: middle;
}
.Editable-control .Zi{
    fill:#8590A6
}
.Editable-toolbar-separator{
    background-color: #ebebeb;
    height: 20px;
    margin: 0 2px;
    width: 1px;
}
.RicheText--clraeBoth:after,.RicheText--clraeBoth:before{
    clear: both;
    content: "";
    display: block;
}
.PostEditor .DraftEditor-root {
    padding: 0;
    font-size: 16px;
    min-height: 300px;
}
.ztext>:last-child{
    margin-bottom: 0;
}
.ztext>:first-child {
    margin-top: 0;
}
.Editable .public-DraftEditorPlaceholder-root {
    color: #8590a6;
    position: absolute;
    pointer-events: none;
}
.Editable-unstyled:last-child {
    margin-bottom: 0;
}
.Editable-unstyled:first-child {
    margin-top: 0;
}
.Editable-unstyled {
    margin: 0 0 1.4em;
}
.PostEditor .public-DraftStyleDefault-block {
    max-width: 100%;
}