body{
	color: #1a1a1a;
    background: #f6f6f6;
    -webkit-tap-highlight-color: rgba(26,26,26,0);
}
div{
	display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
h1{
	display: block;
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 h2 h3{
	font: inherit;
	margin: 0;
}
img{
	width: 48px;
	height: 48px;
}
.LightGreyBg-body{
	background: #fbfcfc;
}
.App-main{
	padding-bottom: 46px;
}
.ColumnPageHeader-Wrapper{
	width: 100%;
}
.ColumnHomeTop{
	background: url(../images/zhuanlan/zlbj.png)50% no-repeat;
	height: 470px;
	position: relative;
}
.ColumnHomeTop:before{
	background: url(../images/zhuanlan/zlbj2.png)repeat-x;
	background-size: 20px 450px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}
.ColumnHomeRecommendation{
	width: 666px;
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 48px auto 0;
}
.ColumnHome-HomeButto {
    margin-top: 48px;
}
.ColumnHomeBottom{
	-webkit-box-align: center;
	align-items: center;
	background: url(../images/zhuanlan/zlbj3.png)repeat-x;
	background-size: 20px 450px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-top: 134px;
}
.ColumnPageHeader{
	position: relative;
    width: 100%;
    height: 52px;
    background: #fff;
    background-clip: content-box;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.ColumnPageHeader-content{
	display: flex;
    height: 52px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
}
.Sticky .is-fixd{
	position: fixed;
	z-index: 2;
	-webkit-font-smoothing: subpixel-antialiased;
}
.ColumnPageHeader-Button{
	-webkit-box-flex: 1;
	flex: 1 1;
	-webkit-box-pack: end;
	justify-content: flex-end;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.ColumnPageHeader-WriteButton{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.Button{
	color: #0084FF;
	border-color:#0084FF ;
}
.Button{
	padding: 0 16px;
	font-size: 13px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
.ColumnPageHeader-MenuToggler{
	height: 32px;
	padding: 0 20px;
}
.Button--plain{
	line-height: inherit;
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.ColumnHomeTop{
	background: url(../images/zhuanlan/zlbj4.png) 50% no-repeat;
	height: 470px;
	position: relative;
}
.ColumnHomeTop:before{
	background: url(../images/zhuanlan/zlbj5.png) repeat-x;
	background-size: 20px 450px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.ColumnHomeTop-logo{
	background: url(../images/zhuanlan/zlbj6.png) 50% no-repeat;
	background-size: 129px 179px;
	height: 0;
	left: 50%;
	margin: 0 0 0 -65px;
	overflow: hidden;
    padding-top: 179px;
    position: absolute;
    top: 152px;
    width: 129px;
}
.ColumnHomeTop-subTitle {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5em;
    line-height: 24px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 350px;
    width: 100%;
}
.ColumnHomeTop-writeButton{
	border-color: #444;
    box-sizing: border-box;
    color: #444;
    height: 38px;
    left: 50%;
    line-height: 36px;
    margin-left: -55px;
    position: absolute;
    top: 413px;
    width: 120px;
}
.ColumnHomeTop-requestButton {
    font-size: 14px;
    left: 50%;
    line-height: 12px;
    margin-left: -57px;
    position: absolute;
    top: 466px;
}
.Button--plain{
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.Button--green{
	color: #11a668;
	border-color: #11A668;
}
.ColumnHomeRecommendation{
	width: 888px;
	align-items: center;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
	flex-direction: column;
	margin: 48px auto 0;
}
.ColumnHomeTitle{
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 0 3px 32px;
	width: 100%;
}
.ColumnHomeTitle-text{
	color: #1A1A1A;
	font-size: 14px;
	line-height: 22px;
	margin: 0 16px;
	font-weight: 600;
}
.ColumnHomeTitle-line{
	display: block;
	background: #d3d3d3;
	-webkit-box-flex: 1;
	flex-grow: 1;
	height: 1px;
}
.ColumnHomeRecommendation-cardContainer{
	display: flex;
	flex-wrap: wrap;
}
.ColumnHomeRecommendation-Card{
	margin: 0 8px 16px;
}
.ColumnHomeColumnCard{
	-webkit-box-align: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 8px 18px rgba(0,0,0,.06);
	box-sizing: border-box;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 26px 0 23px;
    width: 206px;
}
.Avatar--round{
	border-radius: 50%;
}
.Avatar{
	background: #FFFFFF;
}
.ColumnHomeColumnCard-info{
	-webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 16px;
}
.ColumnHomeColumnCard-meta{
	color: grey;
	font-size: 13px;
	margin-top: 14px;
}
.ColumnHomeColumnCard-title{
	margin-top: 16px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 600;
}
.ColumnHomeColumnCard-description{
	color: grey;
    font-size: 13px;
    line-height: 21px;
    margin-top: 7px;
    text-align: center;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ColumnHomeColumnCard-followButton{
	margin-top: 15px;
	flex-shrink: 0;
}
.ColumnHomeRecommendation-refreshButton{
	border-color: #444;
	color: #444;
	margin-top: 20px;
	width: 98px;
}
.Button--withIcon .Button--withLabel .Button-zi{
	margin-right: 4px;
}
.Button--grey{
	color: #8590A6;
}
.ColumnHome-HomeButtom{
	margin-top: 48px;
}
.ColumnHomeBottom-title{
	border: solid #97ffd8;
    border-width: 1px 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 14px;
    padding: 26px 0;
    text-align: center;
    white-space: nowrap;
    width: 345px;
}
.ColumnHomeBottom-requesButton{
	border-color: #444;
    box-sizing: border-box;
    color: #444;
    line-height: 36px;
    margin-top: 40px;
    height: 38px;
    width: 120px;
}
.ColumnHomeBottom-footer{
	color: grey;
    font-size: 12px;
    line-height: 22px;
    margin: 80px 0 60px;
    padding: 0 12px;
    text-align: center;
}
